name: CD - Deploy to Kubernetes

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Minikube
      uses: medyagh/setup-minikube@latest

    - name: Use Minikube Docker
      run: |
        eval $(minikube docker-env)

    - name: Build Docker image
      run: |
        docker build -t cats-dogs-mlops:local .

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f k8s/deployment.yaml
        kubectl apply -f k8s/service.yaml

    - name: Wait for rollout
      run: |
        kubectl rollout status deployment/cats-dogs-deployment --timeout=120s

    - name: Port forward service
      run: |
        kubectl port-forward svc/cats-dogs-service 30007:8000 &
        sleep 10

    - name: Run smoke tests
      run: |
        pip install requests
        python scripts/smoke_test.py